body{
    background-color: lightblue
}
main{
    background-color: lightcoral;
    width: 600px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 7px 7px 15px black; 
    margin: auto;
}
footer{
    text-align: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 7px 7px 15px black;
}

#afi{
    text-align: center;
    background-color: white;
    font-size: 31px;
    color: red;
    text-decoration: none;
    text-shadow: 1px, 1px, 1px;
}

#b1{
        background-color: #04AA6D; /* Green */
        border: none;
        color: white;
        padding: 5px 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        transition-duration: 0.4s;
        cursor: pointer;
        border-radius: 10px;
}

#b1{
    background-color: white; 
    color: red; 
    border: 2px solid red;
  }

#b1:hover {
    background-color: red;
    color: white;
  }  

/* Página Principal */
#titulo{
    text-align: center;
    background-color: white;
    font-size: 69px;
    color: red;
    border-radius: 10px;
    box-shadow: 7px 7px 15px black;
    text-shadow: 1px 1px 1px black;
}

#titulo2{
    color: white;
    text-align: center;
    text-shadow: 1px 1px 1px black;
}

#titulo3{
    color: white;
    text-align: center;
    text-shadow: 1px 1px 1px black;
}

#imgp{
    width: 250px;
    border-radius: 10px;
}

#p1{
    text-align: center;
}

#a1{
    color: white;
    font-size: 30px;
}

#rodape{
    text-align: justify;
    background-color: white;
    font-size: 13px;
    color: black;
    border-radius: 5px;
    box-shadow: 7px 7px 15px black;
}

/* Gus */
#titulogus{
    text-align: center;
    background-color: white;
    font-size: 40px;
    color: red;
    border-radius: 10px;
    box-shadow: 7px 7px 15px black;
    text-shadow: 1px 1px 1px black;
}

#pgus{
    color: white;
    text-align: justify;
    text-shadow: 1px 1px 1px black;
}

#fgus{
    text-align: center;
    background-color: white;
    font-size: 13px;
    border-radius: 10px;
    box-shadow: 7px 7px 15px black;
    
}

#ag{
    text-decoration: none;
}

#ag{
    border-radius: 10px;
}
#gs{
    border-radius: 10px;
    width: 40%;
}
/* Caun */

#titulocaun{
    text-align: center;
    background-color: white;
    font-size: 40px;
    color: red;
    border-radius: 10px;
    box-shadow: 7px 7px 15px black;
    text-shadow: 1px 1px 1px black;
}

#pcaun{
    color: white;
    text-align: justify;
    text-shadow: 1px 1px 1px black;
}

#fcaun{
    text-align: center;
    background-color: white;
    font-size: 13px;
    border-radius: 10px;
    box-shadow: 7px 7px 15px black;
    
}

#tfc{
    text-align: center;
    background-color: white;
    font-size: 20px;
    color: red;
    border-radius: 10px;
    box-shadow: 7px 7px 15px black;
}

#ac{
    text-decoration: none;
}

#cs{
    border-radius: 10px;
    width: 40%;
}

/* Humbertão */

#titulotevao{
    text-align: center;
    background-color: white;
    font-size: 40px;
    color: red;
    border-radius: 10px;
    box-shadow: 7px 7px 15px black;
    text-shadow: 1px 1px 1px black;
}

#ptevao{
    color: white;
    text-align: justify;
    text-shadow: 1px 1px 1px black;
}

#ftevao{
    text-align: center;
    background-color: white;
    font-size: 13px;
    border-radius: 10px;
    box-shadow: 7px 7px 15px black;
    
}

#tft{
    text-align: center;
    background-color: white;
    font-size: 20px;
    color: red;
    border-radius: 10px;
    box-shadow: 7px 7px 15px black;
}

#at{
    text-decoration: none;
}

#ts{
    border-radius: 10px;
    width: 40%;
}
